*~
*.o
*.c
*.h
*.a
!/codes/anl_macros/anl_posix/*.h
!/codes/anl_macros/anl_posix/*.c
!/codes/shmem_files/sgi/*.c
!/codes/shmem_files/sgi/*.h
!/codes/apps/raytrace/rltotiff/*.c
!/codes/apps/raytrace/rltotiff/*.h
!/code/apps/radiosity/glibps/*.c
!/codes/apps/radiosity/glibps/*.h
!/codes/apps/radiosity/glibdumb/*.c
!/codes/apps/radiosity/glibdumb/*.h
!/codes/apps/volrend/libtiff/*.c
!/codes/apps/volrend/libtiff/*.h
/codes/apps/volrend/libtiff/g3states.h
/codes/apps/volrend/libtiff/mkg3states

/codes/apps/barnes/barnes
/codes/apps/fmm/fmm
/codes/apps/ocean/contiguous_partitions/ocean
/codes/apps/ocean/non_contiguous_partitions/ocean
/codes/apps/radiosity/radiosity
/codes/apps/raytrace/raytrace
/codes/apps/volrend/volrend
/codes/apps/water-nsquared/water-nsquared
/codes/apps/water-spatial/water-spatial

/codes/kernels/cholesky/cholesky
/codes/kernels/fft/fft
/codes/kernels/lu/contiguous_blocks/lu
/codes/kernels/lu/non_contiguous_blocks/lu
/codes/kernels/radix/radix
